<!DOCTYPE html>
<html lang="en">
<head id="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link id="bootstrap" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link id="bootstraplocal" rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <title>Hello, world!</title>
</head>
<body>

<nav id="nav" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Pocetna</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dodaj">Dodaj Proizvod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/obrisiProizvod">Obrisi Proizvod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/promeni">Azuriraj Proizvod</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dodajZaposlenog">Dodaj Zaposlenog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/obrisiZaposlenog">Obrisi Zaposlenog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/isporuceno">Isporuceno</a>
            </li>

        </ul>
    </div>
</nav>


</body>
</html>